In [1]:
import sqlalchemy
from sqlalchemy import create_engine, text
import pandas as pd
database_name = 'crashes'
connection_string = f"postgresql://postgres:postgres@localhost:5433/{database_name}"
engine = create_engine(connection_string)

In [2]:
crash_data = pd.read_csv('../data/clean/east_nash_crashes.csv')
crash_data.describe()

,Unnamed: 0,accident_number,number_of_motor_vehicles,number_of_injuries,number_of_fatalities,zip,rpa,lat,long
count,20814.000000,2.081400e+04,20814.000000,20814.000000,20814.0,20814.000000,20814.000000,20729.000000,20729.000000
mean,89451.598732,2.019548e+10,1.765494,0.428750,0.0,37155.956520,3261.793360,36.231819,-86.730997
std,51694.731526,1.966110e+07,0.775359,0.797338,0.0,46.708149,4837.721525,0.042432,0.024833
min,2.000000,2.017000e+10,0.000000,0.000000,0.0,37115.000000,1009.000000,36.104400,-86.886100
25%,45192.250000,2.018040e+10,2.000000,0.000000,0.0,37115.000000,1425.000000,36.188400,-86.750400
50%,88502.500000,2.019065e+10,2.000000,0.000000,0.0,37115.000000,1713.000000,36.246200,-86.735400
75%,134180.250000,2.021040e+10,2.000000,1.000000,0.0,37206.000000,1851.000000,36.263800,-86.712400
max,180049.000000,2.024010e+10,8.000000,9.000000,0.0,37216.000000,20143.000000,36.309600,-86.647600

In [3]:
crash_data.isna().sum(axis = 0)

Unnamed: 0                     0
accident_number                0
date_and_time                  0
number_of_motor_vehicles       0
number_of_injuries             0
number_of_fatalities           0
hit_and_run                    0
collision_type_description     0
weather_description            0
illumination_description       0
harmfuldescriptions            0
street_address                 0
city                           0
state                          0
zip                            0
rpa                            0
precinct                       0
lat                           85
long                          85
mapped_location               85
property_damage                0
dtype: int64

Location data is important for the first step of identifying "hot spots", so any nulls in these columns will need to be addressed. The records with nulls for location fields (`lat`, `long`, & `mapped_location`) do seem to be from actual events and not errors, but given that at the time of this analysis they represent 0.04% of the data, I don't believe removeing them will negatively impact the overall analysis.

In [4]:
crash_data = crash_data.dropna()

In [5]:
crash_data.isna().sum(axis = 0)

Unnamed: 0                    0
accident_number               0
date_and_time                 0
number_of_motor_vehicles      0
number_of_injuries            0
number_of_fatalities          0
hit_and_run                   0
collision_type_description    0
weather_description           0
illumination_description      0
harmfuldescriptions           0
street_address                0
city                          0
state                         0
zip                           0
rpa                           0
precinct                      0
lat                           0
long                          0
mapped_location               0
property_damage               0
dtype: int64

In [6]:
crash_data.describe()

,Unnamed: 0,accident_number,number_of_motor_vehicles,number_of_injuries,number_of_fatalities,zip,rpa,lat,long
count,20729.000000,2.072900e+04,20729.000000,20729.000000,20729.0,20729.000000,20729.000000,20729.000000,20729.000000
mean,89722.048000,2.019537e+10,1.767958,0.429350,0.0,37155.829948,3269.359738,36.231819,-86.730997
std,51618.116477,1.961080e+07,0.773883,0.798336,0.0,46.691548,4846.156371,0.042432,0.024833
min,2.000000,2.017000e+10,0.000000,0.000000,0.0,37115.000000,1009.000000,36.104400,-86.886100
25%,45625.000000,2.018039e+10,2.000000,0.000000,0.0,37115.000000,1431.000000,36.188400,-86.750400
50%,88955.000000,2.019064e+10,2.000000,0.000000,0.0,37115.000000,1713.000000,36.246200,-86.735400
75%,134360.000000,2.021039e+10,2.000000,1.000000,0.0,37206.000000,1851.000000,36.263800,-86.712400
max,180049.000000,2.024010e+10,8.000000,9.000000,0.0,37216.000000,20143.000000,36.309600,-86.647600

No fatalities are reported in the entire dataset, which is surprising. However, these reports are only as accurate as the officers recording them, and they may be busy attending to those involved and quickly filling these out as soon as they arrive or or after they've left. That said, I will ignore the column for this analysis but leave it in the dataset, so it can be used in the future if numbers start showing up.

As this analysis is only looking at one particular roadway corridor, I can't figure out how to specify a radius from the street but I can at least filter out any crashes that occured on interstates.

In [7]:
crash_data_no_hwys = crash_data.drop(crash_data[(crash_data['street_address'].str.contains('I*24')) | (crash_data['street_address'].str.contains('I*40')) | (crash_data['street_address'].str.contains('I*40')) == True].index)
crash_data_no_hwys

,Unnamed: 0,accident_number,date_and_time,number_of_motor_vehicles,number_of_injuries,number_of_fatalities,hit_and_run,collision_type_description,weather_description,illumination_description,...,street_address,city,state,zip,rpa,precinct,lat,long,mapped_location,property_damage
0,2,20240101201,2024-02-13 18:38:00,2.0,2.0,0.0,False,FRONT TO REAR,CLEAR,DARK - LIGHTED,...,I65 S EXT RAMP & I 65,MADISON,TN,37115,20044,MADISO,36.2481,-86.7430,"{'type': 'Point', 'coordinates': [-86.743, 36....",True
1,5,20240100905,2024-02-13 16:00:00,2.0,0.0,0.0,False,FRONT TO REAR,CLEAR,DAYLIGHT,...,GALLATIN PKES & E PALESTINE AV,MADISON,TN,37115,1507,MADISO,36.2491,-86.7196,"{'type': 'Point', 'coordinates': [-86.7196, 36...",True
2,23,20240099545,2024-02-13 06:20:00,2.0,0.0,0.0,False,ANGLE,CLEAR,DAYLIGHT,...,GALLATIN PKES & MOVING CENTER CT,MADISON,TN,37115,1507,MADISO,36.2509,-86.7184,"{'type': 'Point', 'coordinates': [-86.7184, 36...",True
3,25,20240099483,2024-02-13 05:55:00,2.0,1.0,0.0,False,ANGLE,CLEAR,DUSK,...,E TRINITY LN & KEELING AV,NASHVILLE,TN,37216,1851,EAST,36.2044,-86.7463,"{'type': 'Point', 'coordinates': [-86.7463, 36...",True
4,85,20240094645,2024-02-11 02:35:00,2.0,0.0,0.0,False,FRONT TO REAR,CLEAR,DARK - LIGHTED,...,I65 S EXT RAMP & I 65,MADISON,TN,37115,20044,MADISO,36.2481,-86.7430,"{'type': 'Point', 'coordinates': [-86.743, 36....",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20809,179984,20170001270,2017-01-01 14:59:00,2.0,0.0,0.0,False,FRONT TO REAR,RAIN,DAYLIGHT,...,CLEVELAND ST & N 9TH ST,NASHVILLE,TN,37206,1925,EAST,36.1847,-86.7583,"{'type': 'Point', 'coordinates': [-86.7583, 36...",True
20810,179993,20170001226,2017-01-01 14:33:00,2.0,2.0,0.0,False,FRONT TO REAR,RAIN,DAYLIGHT,...,ANDERSON LN & MYATT DR,MADISON,TN,37115,1713,MADISO,36.2721,-86.6890,"{'type': 'Point', 'coordinates': [-86.689, 36....",True
20811,180018,20170000705,2017-01-01 07:59:00,1.0,2.0,0.0,False,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,CLEAR,DAYLIGHT,...,I65 S EXT RAMP & I 65,MADISON,TN,37115,20044,MADISO,36.2481,-86.7430,"{'type': 'Point', 'coordinates': [-86.743, 36....",True
20812,180032,20170000450,2017-01-01 03:47:00,1.0,0.0,0.0,False,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,CLEAR,DARK - LIGHTED,...,RIVERWOOD DR & COOPER LN,NASHVILLE,TN,37216,1449,EAST,36.2095,-86.7135,"{'type': 'Point', 'coordinates': [-86.7135, 36...",True
20813,180049,20170000114,2017-01-01 00:50:00,2.0,1.0,0.0,False,FRONT TO REAR,RAIN,DARK - LIGHTED,...,SHELBY AV & S 10TH ST,NASHVILLE,TN,37206,1031,EAST,36.1713,-86.7525,"{'type': 'Point', 'coordinates': [-86.7525, 36...",True

In [8]:
crash_data_no_hwys.to_csv('../data/clean/all_crashes_no_hwys.csv')

Now is a good time to pause and look at the crashes on a map.<br><br>
(This is better done in a separate notebook, so this will serve as a stopping point for this one. The current table will be exported to a .csv file and used in the mapping notebook. Refer to `mapping.ipynb` for the overall map(s) and next steps will follow below)

**For Reference**

Syntax for SQL queries in Python:
```
query_name = '''
(
SQL syntax
)
'''

with engine.connect() as connection:
    counts = pd.read_sql(text(query_name), con = connection)
```