In [1]:
import sqlalchemy
from sqlalchemy import create_engine, text
import pandas as pd
database_name = 'crashes'
connection_string = f"postgresql://postgres:postgres@localhost:5433/{database_name}"
engine = create_engine(connection_string)

In [2]:
crash_data = pd.read_csv('../data/clean/east_nash_crashes.csv')
crash_data.describe()

,Unnamed: 0,accident_number,number_of_motor_vehicles,number_of_injuries,number_of_fatalities,zip,rpa,lat,long
count,20819.000000,2.081900e+04,20819.000000,20819.000000,20819.0,20819.000000,20819.000000,20734.000000,20734.000000
mean,89526.096979,2.019549e+10,1.765647,0.428647,0.0,37155.960277,3261.383880,36.231813,-86.730999
std,51707.137722,1.967090e+07,0.775365,0.797270,0.0,46.708694,4837.215007,0.042432,0.024833
min,9.000000,2.017000e+10,0.000000,0.000000,0.0,37115.000000,1009.000000,36.104400,-86.886100
25%,45219.000000,2.018040e+10,2.000000,0.000000,0.0,37115.000000,1425.000000,36.188400,-86.750400
50%,88570.000000,2.019065e+10,2.000000,0.000000,0.0,37115.000000,1713.000000,36.246200,-86.735400
75%,134255.000000,2.021041e+10,2.000000,1.000000,0.0,37206.000000,1851.000000,36.263800,-86.712400
max,180145.000000,2.024011e+10,8.000000,9.000000,0.0,37216.000000,20143.000000,36.309600,-86.647600

In [3]:
crash_data.isna().sum(axis = 0)

Unnamed: 0                     0
accident_number                0
date_and_time                  0
number_of_motor_vehicles       0
number_of_injuries             0
number_of_fatalities           0
hit_and_run                    0
collision_type_description     0
weather_description            0
illumination_description       0
harmfuldescriptions            0
street_address                 0
city                           0
state                          0
zip                            0
rpa                            0
precinct                       0
lat                           85
long                          85
mapped_location               85
property_damage                0
dtype: int64

Location data is important for the first step of identifying "hot spots", so any nulls in these columns will need to be addressed. The records with nulls for location fields (`lat`, `long`, & `mapped_location`) do seem to be from actual events and not errors, but given that at the time of this analysis they represent 0.04% of the data, I don't believe removeing them will negatively impact the overall analysis.

In [4]:
crash_data = crash_data.dropna()

In [5]:
crash_data.isna().sum(axis = 0)

Unnamed: 0                    0
accident_number               0
date_and_time                 0
number_of_motor_vehicles      0
number_of_injuries            0
number_of_fatalities          0
hit_and_run                   0
collision_type_description    0
weather_description           0
illumination_description      0
harmfuldescriptions           0
street_address                0
city                          0
state                         0
zip                           0
rpa                           0
precinct                      0
lat                           0
long                          0
mapped_location               0
property_damage               0
dtype: int64

In [6]:
crash_data.describe()

,Unnamed: 0,accident_number,number_of_motor_vehicles,number_of_injuries,number_of_fatalities,zip,rpa,lat,long
count,20734.000000,2.073400e+04,20734.000000,20734.000000,20734.0,20734.000000,20734.000000,20734.000000,20734.000000
mean,89796.392978,2.019538e+10,1.768110,0.429247,0.0,37155.833751,3268.946754,36.231813,-86.730999
std,51630.723555,1.962074e+07,0.773889,0.798267,0.0,46.692109,4845.647273,0.042432,0.024833
min,9.000000,2.017000e+10,0.000000,0.000000,0.0,37115.000000,1009.000000,36.104400,-86.886100
25%,45690.750000,2.018039e+10,2.000000,0.000000,0.0,37115.000000,1431.000000,36.188400,-86.750400
50%,89003.000000,2.019064e+10,2.000000,0.000000,0.0,37115.000000,1713.000000,36.246200,-86.735400
75%,134449.500000,2.021039e+10,2.000000,1.000000,0.0,37206.000000,1851.000000,36.263800,-86.712400
max,180145.000000,2.024011e+10,8.000000,9.000000,0.0,37216.000000,20143.000000,36.309600,-86.647600

No fatalities are reported in the entire dataset, which is surprising. However, these reports are only as accurate as the officers recording them, and they may be busy attending to those involved and quickly filling these out as soon as they arrive or or after they've left. That said, I will ignore the column for this analysis but leave it in the dataset, so it can be used in the future if numbers start showing up.

As this analysis is only looking at one particular roadway corridor, I can't figure out how to specify a radius from the street but I can at least filter out any crashes that occured on interstates.

In [7]:
crash_data_no_hwys = crash_data.drop(crash_data[(crash_data['street_address'].str.contains('I*24')) | (crash_data['street_address'].str.contains('I*40')) | (crash_data['street_address'].str.contains('I*40')) == True].index)
crash_data_no_hwys

,Unnamed: 0,accident_number,date_and_time,number_of_motor_vehicles,number_of_injuries,number_of_fatalities,hit_and_run,collision_type_description,weather_description,illumination_description,...,street_address,city,state,zip,rpa,precinct,lat,long,mapped_location,property_damage
1,25,20240104276,2024-02-14 18:15:00,3.0,0.0,0.0,True,FRONT TO REAR,CLEAR,NAN,...,GALLATIN PKES & GALLATIN PKE SB EXT RAMP,MADISON,TN,37115,1509,MADISO,36.2379,-86.7241,"{'type': 'Point', 'coordinates': [-86.7241, 36...",True
2,33,20240104034,2024-02-14 16:49:00,2.0,0.0,0.0,False,ANGLE,CLEAR,DAYLIGHT,...,GALLATIN PKE & BURCHWOOD AV,NASHVILLE,TN,37216,1403,EAST,36.2010,-86.7399,"{'type': 'Point', 'coordinates': [-86.7399, 36...",True
3,39,20240103897,2024-02-14 16:08:00,2.0,0.0,0.0,False,ANGLE,CLEAR,DAYLIGHT,...,GALLATIN PKES & E OLD HICKORY BLVD,MADISON,TN,37115,1771,MADISO,36.2622,-86.7122,"{'type': 'Point', 'coordinates': [-86.7122, 36...",True
4,72,20240102658,2024-02-14 07:04:00,3.0,0.0,0.0,False,FRONT TO REAR,CLEAR,DAYLIGHT,...,ELLINGTON PKWYS & ELLINGTON PKWYN,NASHVILLE,TN,37206,1995,EAST,36.1758,-86.7666,"{'type': 'Point', 'coordinates': [-86.7666, 36...",True
5,84,20240101201,2024-02-13 18:38:00,2.0,2.0,0.0,False,FRONT TO REAR,CLEAR,DARK - LIGHTED,...,I65 S EXT RAMP & I 65,MADISON,TN,37115,20044,MADISO,36.2481,-86.7430,"{'type': 'Point', 'coordinates': [-86.743, 36....",True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20814,180080,20170001270,2017-01-01 14:59:00,2.0,0.0,0.0,False,FRONT TO REAR,RAIN,DAYLIGHT,...,CLEVELAND ST & N 9TH ST,NASHVILLE,TN,37206,1925,EAST,36.1847,-86.7583,"{'type': 'Point', 'coordinates': [-86.7583, 36...",True
20815,180089,20170001226,2017-01-01 14:33:00,2.0,2.0,0.0,False,FRONT TO REAR,RAIN,DAYLIGHT,...,ANDERSON LN & MYATT DR,MADISON,TN,37115,1713,MADISO,36.2721,-86.6890,"{'type': 'Point', 'coordinates': [-86.689, 36....",True
20816,180114,20170000705,2017-01-01 07:59:00,1.0,2.0,0.0,False,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,CLEAR,DAYLIGHT,...,I65 S EXT RAMP & I 65,MADISON,TN,37115,20044,MADISO,36.2481,-86.7430,"{'type': 'Point', 'coordinates': [-86.743, 36....",True
20817,180128,20170000450,2017-01-01 03:47:00,1.0,0.0,0.0,False,NOT COLLISION W/MOTOR VEHICLE-TRANSPORT,CLEAR,DARK - LIGHTED,...,RIVERWOOD DR & COOPER LN,NASHVILLE,TN,37216,1449,EAST,36.2095,-86.7135,"{'type': 'Point', 'coordinates': [-86.7135, 36...",True
20818,180145,20170000114,2017-01-01 00:50:00,2.0,1.0,0.0,False,FRONT TO REAR,RAIN,DARK - LIGHTED,...,SHELBY AV & S 10TH ST,NASHVILLE,TN,37206,1031,EAST,36.1713,-86.7525,"{'type': 'Point', 'coordinates': [-86.7525, 36...",True

In [8]:
crash_data_no_hwys.to_csv('../data/clean/all_crashes_no_hwys.csv')

Now is a good time to pause and look at the crashes on a map.<br><br>
(This is better done in a separate notebook, so this will serve as a stopping point for this one. The current table will be exported to a .csv file and used in the mapping notebook. Refer to `mapping.ipynb` for the overall map(s) and next steps will follow below)

In [9]:
nash_311 = pd.read_csv('../data/clean/nash_311.csv')
nash_311.describe()

,Unnamed: 0,case_number,incident_council_district,incident_zip_code,latitude,longitude,parent_case,preferred_language
count,1.439850e+05,1.439850e+05,143917.000000,143985.000000,143365.000000,143365.000000,2.027000e+03,0.0
mean,7.683481e+05,6.971926e+05,6.591501,37178.930423,36.215272,-86.726553,6.788490e+05,NaN
std,4.242412e+05,4.490706e+05,1.759451,44.471905,0.121284,0.256722,4.158827e+05,NaN
min,0.000000e+00,1.430000e+02,2.000000,37115.000000,0.000000,-104.979529,1.430000e+02,NaN
25%,3.803230e+05,2.734800e+05,6.000000,37115.000000,36.183280,-86.743581,2.870710e+05,NaN
50%,8.168510e+05,7.030210e+05,6.000000,37206.000000,36.202420,-86.729594,6.784240e+05,NaN
75%,1.129872e+06,1.088637e+06,7.000000,37206.000000,36.252020,-86.713715,1.030204e+06,NaN
max,1.433298e+06,1.486956e+06,33.000000,37216.000000,44.763165,0.000000,1.485830e+06,NaN

In [10]:
nash_311.isna().sum(axis = 0)

Unnamed: 0                        0
case_number                       0
status                            0
case_request                      0
case_subrequest                  45
additional_subrequest          7315
date_time_opened                  0
date_time_closed               2179
case_origin                       0
state_issue                       0
closed_when_created               0
incident_address                266
incident_city                   540
incident_council_district        68
incident_zip_code                 0
latitude                        620
longitude                       620
mapped_location                 620
contact_type                 139429
parent_case                  141958
preferred_language           143985
dtype: int64

In [11]:
nash_311 = nash_311.dropna(subset=['latitude', 'longitude'])

In [12]:
nash_311.to_csv('../data/clean/nash_311.csv')

**For Reference**

Syntax for SQL queries in Python:
```
query_name = '''
(
SQL syntax
)
'''

with engine.connect() as connection:
    counts = pd.read_sql(text(query_name), con = connection)
```